*.vs
bin/
packages/
*.pdb
*.config
Thumbs.db
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
obj/
*.sqlproj.user
packages/
*.csproj.user
/Site/Web.config
[Rr]elease*/
_ReSharper*/

*.dbmdl
*.dbmdl
*.jfm
/Site/validadac.js
/Site/Logs/Trace/
/Site/Componentes/GeradorDeRelatorio/
*.orig
/Site/ZipECM/
/Site/Logs
/Site/Imagens
sh.exe.stackdump
/Site/Excel
/Site/Componentes/ExportadorExcel
